div#container
{
   width: 1650px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #7FFFD4;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.wb-theme-header
{
   background-color: #E9E9E9;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   color: #333333;
   --background-color: rgba(233,233,233,1.00);
   --border-color: #DDDDDD;
   --border-width: 1px;
   --color: #333333;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   color: #333333;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DDDDDD;
   --border-width: 1px;
   --color: #333333;
   --icon-color: #444444;
   --colorize: invert(26%) sepia(42%) saturate(15%) hue-rotate(330deg) brightness(90%) contrast(93%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #C5C5C5;
   border-radius: 0px;
   color: #454545;
   --background-color: rgba(246,246,246,1.00);
   --border-color: #C5C5C5;
   --border-width: 1px;
   --color: #454545;
}
.wb-theme-button:hover
{
   background-color: #EDEDED;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #2B2B2B;
   --background-color: rgba(237,237,237,1.00);
   --border-color: #CCCCCC;
   --border-width: 1px;
   --color: #2B2B2B;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #3370B7;
   background-image: none;
   border: 1px solid #2E6DA4;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(51,112,183,1.00);
   --border-color: #2E6DA4;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #CCCCCC;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #CCCCCC;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #CCCCCC;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #CCCCCC;
   --icon-color: #3370B7;
   --colorize: invert(42%) sepia(40%) saturate(928%) hue-rotate(172deg) brightness(86%) contrast(87%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #090909;
   background-image: none;
   border: 1px solid #3A3A3A;
   border-radius: 0px;
   color: #BABABA;
   --background-color: rgba(9,9,9,1.00);
   --border-color: #3A3A3A;
   --border-width: 1px;
   --color: #BABABA;
}
.darktheme .wb-theme-button:hover
{
   background-color: #121212;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #D4D4D4;
   --background-color: rgba(18,18,18,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #D4D4D4;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #3370B7;
   background-image: none;
   border: 1px solid #2E6DA4;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(51,112,183,1.00);
   --border-color: #2E6DA4;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_footer28Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_footer28Text div
{
   text-align: center;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #555555;
   border-radius: 0px;
   box-shadow: 0px 0px 4px #000000;
}
#wb_Text3 
{
   margin: 0;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Shape1
{
   position: absolute;
   left: 1px;
   top: 0px;
   width: 1648px;
   height: 99px;
   z-index: 6;
}
#wb_Image1
{
   position: absolute;
   left: 2px;
   top: 0px;
   width: 99px;
   height: 99px;
   z-index: 7;
}
#wb_Image2
{
   position: absolute;
   left: 720px;
   top: 1151px;
   width: 211px;
   height: 281px;
   z-index: 1;
}
#wb_Image4
{
   position: absolute;
   left: 720px;
   top: 84px;
   width: 258px;
   height: 258px;
   z-index: 3;
}
#wb_footer28Text
{
   position: absolute;
   left: 355px;
   top: 1566px;
   width: 940px;
   height: 52px;
   text-align: center;
   z-index: 2;
}
#Shape1
{
   width: 1648px;
   height: 99px;
}
#wb_Text12
{
   position: absolute;
   left: 1491px;
   top: 26px;
   width: 106px;
   height: 48px;
   z-index: 12;
}
#wb_Text1
{
   position: absolute;
   left: 510px;
   top: 1466px;
   width: 572px;
   height: 48px;
   text-align: center;
   z-index: 0;
}
#wb_Text11
{
   position: absolute;
   left: 1371px;
   top: 26px;
   width: 97px;
   height: 48px;
   z-index: 11;
}
#wb_Text2
{
   position: absolute;
   left: 1029px;
   top: 25px;
   width: 77px;
   height: 48px;
   z-index: 8;
}
#wb_Text10
{
   position: absolute;
   left: 1224px;
   top: 26px;
   width: 137px;
   height: 48px;
   z-index: 10;
}
#wb_Text3
{
   position: absolute;
   left: 702px;
   top: 301px;
   width: 276px;
   height: 143px;
   text-align: center;
   z-index: 5;
}
#wb_Text9
{
   position: absolute;
   left: 1119px;
   top: 26px;
   width: 77px;
   height: 48px;
   z-index: 9;
}
#wb_MediaPlayer1
{
   position: absolute;
   left: 436px;
   top: 545px;
   width: 779px;
   height: 584px;
   z-index: 4;
}
@media only screen and (max-width: 1649px)
{
div#container
{
   width: 320px;
}
#wb_Text1
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 5px;
   width: 110px;
   height: 110px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
.darktheme body
{
   background-color: #000000;
}
