div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #7FFFD4;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.wb-theme-header
{
   background-color: #444444;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(68,68,68,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #555555;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(0,0,0,1.00);
   --border-color: #555555;
   --border-width: 1px;
   --color: #FFFFFF;
   --icon-color: #CCCCCC;
   --colorize: invert(100%) sepia(82%) saturate(0%) hue-rotate(166deg) brightness(85%) contrast(90%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #222222;
   background-image: none;
   border: 1px solid #444444;
   border-radius: 0px;
   color: #EEEEEE;
   --background-color: rgba(34,34,34,1.00);
   --border-color: #444444;
   --border-width: 1px;
   --color: #EEEEEE;
}
.wb-theme-button:hover
{
   background-color: #003147;
   background-image: none;
   border: 1px solid #0B93D5;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(0,49,71,1.00);
   --border-color: #0B93D5;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0972A5;
   background-image: none;
   border: 1px solid #26B3F7;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(9,114,165,1.00);
   --border-color: #26B3F7;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_footer28Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_footer28Text div
{
   text-align: center;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 99px;
   height: 99px;
   z-index: 0;
}
#wb_Image2
{
   position: absolute;
   left: 380px;
   top: 557px;
   width: 211px;
   height: 281px;
   z-index: 2;
}
#wb_Image4
{
   position: absolute;
   left: 360px;
   top: 192px;
   width: 231px;
   height: 231px;
   z-index: 4;
}
#wb_footer28Text
{
   position: absolute;
   left: 15px;
   top: 972px;
   width: 940px;
   height: 52px;
   text-align: center;
   z-index: 3;
}
#wb_Text1
{
   position: absolute;
   left: 170px;
   top: 872px;
   width: 572px;
   height: 48px;
   text-align: center;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 303px;
   top: 137px;
   width: 365px;
   height: 75px;
   z-index: 5;
}
@media only screen and (max-width: 969px)
{
div#container
{
   width: 320px;
}
#wb_Image1
{
   left: 0px;
   top: 5px;
   width: 110px;
   height: 110px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
