body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #7FFFD4;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_footer28Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_footer28Text div
{
   text-align: center;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#HorizontalLine1
{
   border-color: #FF1493;
   border-style: solid;
   border-bottom-width: 4px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   overflow: hidden;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   box-shadow: 7px 0px 0px #48D1CC;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 50%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #282828 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col3
{
   display: none;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 4px;
   width: 1648px;
   height: 99px;
   z-index: 4;
}
#wb_Shape2
{
   position: absolute;
   left: 5px;
   top: 7px;
   width: 92px;
   height: 92px;
   z-index: 5;
}
#wb_Image1
{
   position: absolute;
   left: 2px;
   top: 4px;
   width: 99px;
   height: 99px;
   z-index: 6;
}
#wb_Text4
{
   position: absolute;
   left: 1114px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 7;
}
#wb_Image3
{
   position: absolute;
   left: 1176px;
   top: 105px;
   width: 474px;
   height: 316px;
   z-index: 13;
}
#HorizontalLine1
{
   position: absolute;
   left: 0px;
   top: 103px;
   width: 1650px;
   z-index: 12;
}
#wb_Text5
{
   position: absolute;
   left: 1023px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 8;
}
#wb_PhotoGallery1
{
   position: absolute;
   left: 0px;
   top: 1073px;
   width: 789px;
   height: 271px;
   z-index: 17;
}
#wb_Text6
{
   position: absolute;
   left: 1214px;
   top: 29px;
   width: 137px;
   height: 48px;
   z-index: 9;
}
#wb_Image4
{
   position: absolute;
   left: 60px;
   top: 717px;
   width: 258px;
   height: 258px;
   z-index: 2;
}
#wb_footer28Text
{
   position: absolute;
   left: 354px;
   top: 1545px;
   width: 940px;
   height: 120px;
   text-align: center;
   z-index: 1;
}
#wb_Image5
{
   position: absolute;
   left: 0px;
   top: 107px;
   width: 827px;
   height: 312px;
   z-index: 14;
}
#wb_Text7
{
   position: absolute;
   left: 1367px;
   top: 29px;
   width: 97px;
   height: 48px;
   z-index: 10;
}
#Shape1
{
   width: 1648px;
   height: 99px;
}
#Shape2
{
   width: 92px;
   height: 92px;
}
#wb_Text1
{
   position: absolute;
   left: 539px;
   top: 1457px;
   width: 572px;
   height: 96px;
   text-align: center;
   z-index: 0;
}
#wb_Text2
{
   position: absolute;
   left: 875px;
   top: 151px;
   width: 239px;
   height: 224px;
   text-align: center;
   z-index: 15;
}
#wb_Text10
{
   position: absolute;
   left: 35px;
   top: 230px;
   width: 342px;
   height: 288px;
   z-index: 16;
}
#wb_Text8
{
   position: absolute;
   left: 1487px;
   top: 29px;
   width: 106px;
   height: 48px;
   z-index: 11;
}
#wb_Text9
{
   position: absolute;
   left: 5px;
   top: 621px;
   width: 402px;
   height: 96px;
   text-align: center;
   z-index: 3;
}
@media only screen and (max-width: 1649px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text1
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 5px;
   width: 110px;
   height: 110px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
.darktheme body
{
   background-color: #FFFFFF;
}
