div#container
{
   width: 1649px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #7FFFD4;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_footer28Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_footer28Text div
{
   text-align: center;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#HorizontalLine1
{
   border-color: #FF1493;
   border-style: solid;
   border-bottom-width: 4px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image5
{
   overflow: hidden;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   box-shadow: 7px 0px 0px #48D1CC;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#SlideShow1
{
   margin: 0;
   margin-left: auto !important;
   margin-right: auto !important;
   max-width: 1920px;
}
.lSSlideOuter .lSPager.lSGallery li, .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover
{
   border-radius: 0px;
}
#SlideShow1 img
{
   object-fit: cover;
   width: 100%;
}
#SlideShow1 .lSGallery
{
   display: inline-flex;
}
#SlideShow1
{
   border: 3px solid #FFFFFF;
   border-radius: 0px;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 4px;
   width: 1648px;
   height: 99px;
   z-index: 4;
}
#wb_Shape2
{
   position: absolute;
   left: 5px;
   top: 7px;
   width: 92px;
   height: 92px;
   z-index: 5;
}
#wb_Image1
{
   position: absolute;
   left: 2px;
   top: 4px;
   width: 99px;
   height: 99px;
   z-index: 6;
}
#wb_Text4
{
   position: absolute;
   left: 1114px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 7;
}
#SlideShow1
{
   position: absolute;
   left: 783px;
   top: 657px;
   width: 772px;
   height: 788px;
   z-index: 17;
}
#HorizontalLine1
{
   position: absolute;
   left: 0px;
   top: 103px;
   width: 1650px;
   z-index: 12;
}
#wb_Text5
{
   position: absolute;
   left: 1023px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 8;
}
#wb_Text6
{
   position: absolute;
   left: 1214px;
   top: 29px;
   width: 137px;
   height: 48px;
   z-index: 9;
}
#wb_Image4
{
   position: absolute;
   left: 57px;
   top: 1451px;
   width: 258px;
   height: 258px;
   z-index: 2;
}
#wb_footer28Text
{
   position: absolute;
   left: 354px;
   top: 3757px;
   width: 940px;
   height: 120px;
   text-align: center;
   z-index: 1;
}
#wb_Image5
{
   position: absolute;
   left: 0px;
   top: 107px;
   width: 890px;
   height: 321px;
   z-index: 13;
}
#wb_Text7
{
   position: absolute;
   left: 1367px;
   top: 29px;
   width: 97px;
   height: 48px;
   z-index: 10;
}
#Shape1
{
   width: 1648px;
   height: 99px;
}
#Shape2
{
   width: 92px;
   height: 92px;
}
#wb_Text1
{
   position: absolute;
   left: 538px;
   top: 3669px;
   width: 572px;
   height: 96px;
   text-align: center;
   z-index: 0;
}
#wb_Text11
{
   position: absolute;
   left: 1079px;
   top: 500px;
   width: 186px;
   height: 111px;
   z-index: 18;
}
#wb_Text2
{
   position: absolute;
   left: 1265px;
   top: 154px;
   width: 310px;
   height: 235px;
   text-align: center;
   z-index: 14;
}
#wb_Text3
{
   position: absolute;
   left: 37px;
   top: 690px;
   width: 377px;
   height: 482px;
   text-align: center;
   z-index: 16;
}
#wb_Text10
{
   position: absolute;
   left: 46px;
   top: 465px;
   width: 463px;
   height: 192px;
   z-index: 15;
}
#wb_Text8
{
   position: absolute;
   left: 1487px;
   top: 29px;
   width: 106px;
   height: 48px;
   z-index: 11;
}
#wb_Text9
{
   position: absolute;
   left: 2px;
   top: 1355px;
   width: 402px;
   height: 96px;
   text-align: center;
   z-index: 3;
}
@media only screen and (max-width: 1648px) and (orientation: landscape)
{
div#container
{
   width: 1649px;
}
body
{
   background-color: #000000;
}
#wb_Text1
{
   left: 538px;
   top: 3669px;
   width: 572px;
   height: 96px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_footer28Text
{
   left: 354px;
   top: 3757px;
   width: 940px;
   height: 120px;
   visibility: visible;
   display: inline;
}
#wb_footer28Text
{
   margin: 0;
   padding: 15px 0 0 0;
}
#wb_Image4
{
   left: 57px;
   top: 1451px;
   width: 258px;
   height: 258px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 2px;
   top: 1355px;
   width: 402px;
   height: 96px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   left: 0px;
   top: 4px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape2
{
   left: 5px;
   top: 7px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Image1
{
   left: 2px;
   top: 4px;
   width: 99px;
   height: 99px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 1114px;
   top: 29px;
   width: 77px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 1023px;
   top: 29px;
   width: 77px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 1214px;
   top: 29px;
   width: 137px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 1367px;
   top: 29px;
   width: 97px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   left: 1487px;
   top: 29px;
   width: 106px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px;
   top: 103px;
   width: 1650px;
   height: 4px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #FF1493;
   border-bottom-width: 4px;
}
#wb_Image5
{
   left: 0px;
   top: 107px;
   width: 827px;
   height: 312px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 1302px;
   top: 183px;
   width: 259px;
   height: 160px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 32px;
   top: 306px;
   width: 342px;
   height: 288px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 32px;
   top: 692px;
   width: 377px;
   height: 482px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#SlideShow1
{
   left: 783px;
   top: 657px;
   width: 772px;
   height: 788px;
   visibility: visible;
   display: inline-block;
}
#wb_Text11
{
   left: 1079px;
   top: 546px;
   width: 186px;
   height: 111px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
}
.darktheme body
{
   background-color: #FFFFFF;
}
