body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #7FFFD4;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.wb-theme-header
{
   background-color: #2C2C2C;
   background-image: none;
   border: 1px solid #242424;
   border-radius: 0px;
   color: #ADAFAE;
   --background-color: rgba(44,44,44,1.00);
   --border-color: #242424;
   --border-width: 1px;
   --color: #ADAFAE;
}
.wb-theme-content
{
   background-color: #060606;
   background-image: none;
   border: 1px solid #282828;
   border-radius: 0px;
   color: #ADAFAE;
   --background-color: rgba(6,6,6,1.00);
   --border-color: #282828;
   --border-width: 1px;
   --color: #ADAFAE;
   --icon-color: #2A9FD6;
   --colorize: invert(50%) sepia(19%) saturate(1789%) hue-rotate(154deg) brightness(105%) contrast(85%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #2A9FD6;
   background-image: none;
   border: 1px solid #2A9FD6;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(42,159,214,1.00);
   --border-color: #2A9FD6;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #2487B6;
   background-image: none;
   border: 1px solid #227FAB;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(36,135,182,1.00);
   --border-color: #227FAB;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #227FAB;
   background-image: none;
   border: 1px solid #2077A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(34,127,171,1.00);
   --border-color: #2077A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #2E2E2E;
   background-image: none;
   border: 1px solid #484848;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(46,46,46,1.00);
   --border-color: #484848;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #2A9FD6;
   --colorize: invert(54%) sepia(76%) saturate(486%) hue-rotate(156deg) brightness(87%) contrast(92%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #2A9FD6;
   background-image: none;
   border: 1px solid #2A9FD6;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(42,159,214,1.00);
   --border-color: #2A9FD6;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #2487B6;
   background-image: none;
   border: 1px solid #227FAB;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(36,135,182,1.00);
   --border-color: #227FAB;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #227FAB;
   background-image: none;
   border: 1px solid #2077A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(34,127,171,1.00);
   --border-color: #2077A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_footer28Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_footer28Text div
{
   text-align: center;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#HorizontalLine1
{
   border-color: #FF1493;
   border-style: solid;
   border-bottom-width: 4px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   box-shadow: 7px 0px 0px #48D1CC;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   box-shadow: 7px 0px 0px #FFFF00;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   box-shadow: 7px 0px 0px #FFFF00;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 4px;
   width: 1648px;
   height: 99px;
   z-index: 5;
}
#wb_Shape2
{
   position: absolute;
   left: 5px;
   top: 7px;
   width: 92px;
   height: 92px;
   z-index: 6;
}
#wb_Image1
{
   position: absolute;
   left: 2px;
   top: 4px;
   width: 99px;
   height: 99px;
   z-index: 7;
}
#wb_Text4
{
   position: absolute;
   left: 1114px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 8;
}
#wb_Image2
{
   position: absolute;
   left: 720px;
   top: 1151px;
   width: 211px;
   height: 281px;
   z-index: 1;
}
#wb_Image3
{
   position: absolute;
   left: 1176px;
   top: 105px;
   width: 474px;
   height: 316px;
   z-index: 14;
}
#HorizontalLine1
{
   position: absolute;
   left: 0px;
   top: 103px;
   width: 1650px;
   z-index: 13;
}
#wb_Text5
{
   position: absolute;
   left: 1023px;
   top: 29px;
   width: 77px;
   height: 48px;
   z-index: 9;
}
#wb_Text6
{
   position: absolute;
   left: 1214px;
   top: 29px;
   width: 137px;
   height: 48px;
   z-index: 10;
}
#wb_Image4
{
   position: absolute;
   left: 60px;
   top: 717px;
   width: 258px;
   height: 258px;
   z-index: 3;
}
#wb_footer28Text
{
   position: absolute;
   left: 354px;
   top: 1545px;
   width: 940px;
   height: 120px;
   text-align: center;
   z-index: 2;
}
#wb_Image5
{
   position: absolute;
   left: 0px;
   top: 107px;
   width: 868px;
   height: 312px;
   z-index: 15;
}
#wb_Text7
{
   position: absolute;
   left: 1367px;
   top: 29px;
   width: 97px;
   height: 48px;
   z-index: 11;
}
#Shape1
{
   width: 1648px;
   height: 99px;
}
#Shape2
{
   width: 92px;
   height: 92px;
}
#wb_Text1
{
   position: absolute;
   left: 539px;
   top: 1457px;
   width: 572px;
   height: 96px;
   text-align: center;
   z-index: 0;
}
#wb_Text2
{
   position: absolute;
   left: 309px;
   top: 437px;
   width: 251px;
   height: 75px;
   z-index: 16;
}
#wb_Text10
{
   position: absolute;
   left: 1129px;
   top: 480px;
   width: 251px;
   height: 149px;
   z-index: 18;
}
#wb_Text3
{
   position: absolute;
   left: 1129px;
   top: 480px;
   width: 251px;
   height: 149px;
   z-index: 17;
}
#wb_Text8
{
   position: absolute;
   left: 1487px;
   top: 29px;
   width: 106px;
   height: 48px;
   z-index: 12;
}
#wb_Text9
{
   position: absolute;
   left: 5px;
   top: 621px;
   width: 402px;
   height: 96px;
   text-align: center;
   z-index: 4;
}
@media only screen and (max-width: 1649px)
{
#wb_Text1
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 101px;
   top: 13px;
   width: 193px;
   height: 95px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 5px;
   width: 110px;
   height: 110px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
